doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', crossorigin='anonymous')
    link(rel='stylesheet', href='style.css')
    title Hello, world!
  body
    .container-fluid
      .row
        .col
          .alert.alert-warning.alert-dismissible.fade.show
            strong Holy guacamole!
            |  You should check in on some of those fields below.
            button.close(data-dismiss='alert')
              span × 
        .col 
          .alert.alert-success Hello 
      .row
        .col
          span.badge.badge-primary Primary
          span.badge.badge-secondary Secondary
          span.badge.badge-success Success
          span.badge.badge-danger Danger
          span.badge.badge-warning Warning
          span.badge.badge-info Info
          span.badge.badge-light Light
          span.badge.badge-dark Dark
      
      .row
        .col.d-flex.justify-content-center
          nav(aria-label='breadcrumb')
            ol.breadcrumb
              li.breadcrumb-item
                a(href='#') Home
              li.breadcrumb-item
                a(href='#') Library
              li.breadcrumb-item.active(aria-current='page') Data
      


    script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js', crossorigin='anonymous')
